<template>
  <v-app id="inspire">
    <v-layout>
      <v-flex xs12 sm12>
        <v-card>
          <v-checkbox v-model="form.allowSpaces" label="Allow spaces"></v-checkbox>
          <v-card-title>
            <v-text-field v-model="form.match" label="Value must match"></v-text-field>

            <v-select v-model="form.select" :items="items" label="Item" required></v-select>
            <!-- <v-flex xs4 sm1 md1>
            </v-flex>-->
          </v-card-title>

          <v-card-actions>
            <v-btn @click="sendForm" large color="info">Send Form</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      // default to Tartu to keep it simple
      allowSpaces: false,
      match: "Default",
      select: ""
    };
  },
  computed: {
    items() {
      return ["One", "Two"];
    },
    form() {
      return {
        allowSpaces: false,
        match: "Default",
        select: "One"
      };
    }
  },
  mounted() {},

  methods: {

    sendForm() {
      console.log(this.form);
    }
  }
};
</script>