<template>
  <v-app id="drive">
    <v-layout>
      <v-flex xs12 sm12>
        <v-card>
          <v-container fill-height fluid>
            <v-layout fill-height>
              <v-flex xs12 align-end flexbox>
                <span class="headline">My Book Loans</span>
              </v-flex>
            </v-layout>
          </v-container>

          <v-alert :value="true" type="error" v-if="extension && error.message">
            <span class="headline">Extension Rejected: {{error.message}}</span>
          </v-alert>
          <v-alert :value="true" type="success" v-if="extension && extension.enddate">
            <span
              class="headline"
            >Extension Accepted: Book Loans Extended from now to {{extension.enddate}} and you have extended book {{extension.time_extended}}</span>
          </v-alert>

          <!-- <v-card-actions>
            <v-btn @click="refresh" x-large color="primary">Refresh Request</v-btn>
          </v-card-actions>-->
          <v-card-title>
            <v-data-table :headers="headers" :items="loans" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.title }}</td>
                <td>{{ props.item.code }}</td>
                <td>{{ props.item.startdate | moment("DD-MM-YYYY") }}</td>
                <td>{{ props.item.enddate | moment("DD-MM-YYYY") }}</td>
                <td>{{ props.item.time_extended }}</td>
                <td class="text-xs-right">
                  <!-- <router-link @click="askExtension(props.item.id)">Extend</router-link>
                    <router-link :to="{ name: 'details', params: { id: props.item.id }}">Extend</router-link>
                  <v-btn @click="askExtension(props.item.id)" color="success">Details</v-btn>-->
                  <v-btn class="ext-btn" @click="askExtension(props.item.id)" color="success">Extend</v-btn>
                </td>
              </template>
            </v-data-table>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import router from "../router";
export default {
  data() {
    return {
      // items: [ "Off-duty", "Available", "Busy", "Invisible"],
      headers: [
        {
          text: "Title",
          //   align: 'left',
          sortable: false,
          value: "title"
        },
        { text: "Code", sortable: false, value: "code" },
        { text: "Start Date", sortable: false, value: "startdate" },
        { text: "End Date", sortable: false, value: "enddate" },
        { text: "Time Extended", sortable: false, value: "time_extended" },
        { text: "Action ", sortable: false, value: "" }
      ]
    };
  },

  computed: {
    //   status() {
    //     return this.$store.getters.status;
    //   },
    error() {
      return this.$store.getters.error;
    },
    extension() {
      return this.$store.getters.extension;
    },
    loans() {
      return this.$store.getters.book_loans;
    }
  },
  mounted() {
    // this.$store.dispatch("loadBookLoans");
  },
  methods: {
    askExtension(id) {
      this.$store.dispatch("askExtension", id);
    }
  }
};
</script>