<template>
  <v-toolbar app>
    <v-toolbar-title class="headline text-uppercase">
      <span>RentIt</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn to="/">Home</v-btn>
    <!-- <v-btn  to="/rent" >Rents</v-btn> -->
  </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      //  accountMenuItem: [
      //   { title: 'Log Out', callFunc: this.logout }
      //   ]
    };
  },
  computed: {
    // user() {
    //     return this.$store.getters.user
    // },
    //  wallet() {
    //     return this.$store.getters.wallet
    // },
    // role(){
    //     return this.$store.getters.role
    // }
  },
  methods: {
    // logout() {
    //   this.$store.dispatch('logOut');
    // }
  }
};
</script>