<template>
  <v-container>
    <v-layout text-xs-center wrap>
      <v-flex mb-12 style="height=100%">
        <h1 class="display-2 font-weight-bold mb-3">Welcome to RentWeb</h1>
        <p class="subheading font-weight-regular">Equipment Library Manager</p>
        <v-card>
          <!-- <v-checkbox v-model="form.allowSpaces" label="Plant Name"></v-checkbox> -->
          <v-text-field v-model="query.name" label="Plant Name"></v-text-field>
          <v-text-field
            placeholder="YYYY-MM-DD"
            id="start_date"
            v-model="query.start_date"
            label="Start Date"
          ></v-text-field>
          <v-text-field
            placeholder="YYYY-MM-DD"
            id="end_date"
            v-model="query.end_date"
            label="End Date"
          ></v-text-field>

          <v-card-title>
            <!-- <v-flex xs4 sm1 md1>
            </v-flex>-->
          </v-card-title>

          <v-card-actions>
            <v-btn @click="queryStore" large color="info">Query Plant Category</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  // data() {
  //   return {
  //     // default to Tartu to keep it simple
  //     allowSpaces: false,
  //     match: "Default",
  //     select: ""
  //   };
  // },
  computed: {
    items() {
      return ["One", "Two"];
    },
    query() {
      return {
        allowSpaces: false,
        match: "",
        start_date: "",
        end_date: ""
      };
    }
  },
  mounted() {},

  methods: {
    queryStore() {
      console.log(this.query);
    }
  }
};
</script>

<style>
</style>
