<template>
  <v-app>
  <app-header/>
    <v-content>
      <router-view/>
    </v-content>
  
  </v-app>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
  components: {
     appHeader: Header
  },
  data () {
    return {
  
    }
  },
  computed: {
    //   user() {
    //     return this.$store.getters.user
    // }
  },
  created() {
  },
  mounted() {
  },
  methods: {
   }
}
</script>
